@import "./scss/mixin/respon";
@import "../variable/colors";

header{
    position: relative;
    // background-color: #f4c051;
    background-color: #0dceda;
    overflow: visible;
    .hero{
        height: 90vh;
        display: flex;
        justify-content: center;
    }

    @include respon(tablet){ ///////////////////// TABLET
        .hero{

        }
    }

    @include respon(mobile){ ///////// MOBILE
   
    }
}