@import "../mixin/respon";

section{
    background-color:#c6fce56b;
    overflow: visible;
    .service{
        .container{
            .card{
                .content{
                    position: relative;
                    // background-color: white;
                    color: black;
                }
            }  
        }
    }
    @include respon(tablet){ ///////////////////// TABLET
        .service{
            padding: 100px 0 0 0;
            display: flex;
            .container{
                width: 100%;
                display: flex;
                justify-content: space-around;
                align-items: center;
                flex-direction: column;
                .card{  
                    margin: 0 200px 100px 0;
                    .content{
                        padding: 20px 40px;
                        width: 400px;
                        height: 350px;
                        
                        // border: solid 0.1px rgba(0, 0, 0, 0.404);
                        // box-shadow: 4px 4px 2px 0px rgba(0, 0, 0, 0.384);
                        .container{
                            width: 170px;
                            position: absolute;
                            top: 50%;
                            left: 125%;
                            z-index: 1;
                            -ms-transform: translateX(-50%) translateY(-50%);
                            -moz-transform: translateX(-50%) translateY(-50%);
                            -webkit-transform: translateX(-50%) translateY(-50%);
                            transform: translateX(-50%) translateY(-50%);
                            background: url(placeholder.jpg) no-repeat;
                            background-size: cover;

                            .video {
                                box-shadow: 8px 8px 5px 0px rgba(0, 0, 0, 0.384);;
                                width: 100%;
                                border: solid 0.1px rgba(0, 0, 0, 0.404);

                            }
                        }
                        p{
                            font-size: 1rem;
                            letter-spacing: 1.2px;
                            line-height: 24px;
                        }
                        .container-tech{
                            position: relative;
                            display:flex;
                            img{
                                margin: 40px 20px 0 0;
                                width: 40px;
                            }
                            a{
                                position: absolute;
                                right: 0;
                                bottom: -50%;
                            }
                        }   
                    }
                    .content-rev{
                        padding: 20px 40px;
                        width: 400px;
                        height: 350px;
                        
                        // border: solid 0.1px rgba(0, 0, 0, 0.404);
                        // box-shadow: 4px 4px 2px 0px rgba(0, 0, 0, 0.384);
                        .container-rev{
                            width: 170px;
                            position: absolute;
                            top: 50%;
                            left: 0;
                            z-index: 1;
                            -ms-transform: translateX(-50%) translateY(-50%);
                            -moz-transform: translateX(-50%) translateY(-50%);
                            -webkit-transform: translateX(-50%) translateY(-50%);
                            transform: translateX(-50%) translateY(-50%);
                            background: url(placeholder.jpg) no-repeat;
                            background-size: cover;

                            .video {
                                box-shadow: 8px 8px 5px 0px rgba(0, 0, 0, 0.384);;
                                width: 100%;
                                border: solid 0.1px rgba(0, 0, 0, 0.404);

                            }
                        }
                        p{
                            font-size: 1rem;
                            letter-spacing: 1.2px;
                            line-height: 24px;
                        }
                        .container-tech{
                            position: relative;
                            display:flex;
                            img{
                                margin: 40px 20px 0 0;
                                width: 40px;
                            }
                            a{
                                position: absolute;
                                right: 0;
                                bottom: -50%;
                            }
                        }   
                    }
                }
            }
        }
    }

    @include respon(mobile){ ///////// MOBILE
        .service{
            .container{

            }
        }
    }
}