.arrow,
.arrow:before{
    position: absolute;
    left: 50%;
  
}
 
.arrow{
    width: 40px;
    height: 40px;
    top: 90%;
    margin: -20px 0 0 -20px;
    transform: rotate(45deg);
    border-left: none;
    border-top: none;
    border-right: 2px #fff solid;
    border-bottom: 2px #fff solid;
}
.arrow:before{
    content: '';
    width: 30px;
    height: 30px;
    top: 50%;
    margin: -10px 0 0 -10px;
    border-left: none;
    border-top: none;
    border-right: 3px rgba(255, 255, 255, 0.9) solid;
    border-bottom: 3px rgba(255, 255, 255, 0.9) solid;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-name: arrow;
}
@keyframes arrow{
    0% { opacity: 1;}
    
  100% {   opacity: 0;
    transform: translate(-20px, -20px);}
  
}
 
